{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>All Authors</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/social_distribution/generic-page.css' %}">
</head>

<body>
    <h1>All Authors</h1>
    <ul>
        {% for author in authors %}
            <li>
            {% if author.is_local %}
                <a href="{% url 'social_distribution:profile' author.username %}">{{ author.name}}</a>
            {% else %}
                 {{ author.name }} <small>(remote)</small>
                {% if author.is_followed %}
                    <span>✓ Request Sent</span>
                {% else %}
                 <form method="post" action="{% url 'social_distribution:follow_by_serial' serial=author.serial %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Follow</button>
                </form>
            {% endif %}
            </li>
        {% end if %}
            <li>No authors yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'social_distribution:index' %}">Back to Home</a>
</body>
</html>