{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Friends List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/social_distribution/friends_list.css' %}">
</head>
<body>
    <h1>Friends List</h1>

    {% if friends_list %}
        <ul>
            {% for friend in friends_list %}
                <li>
                    {{ friend.name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no friends.</p>
    {% endif %}
    <a href="{% url 'social_distribution:index' %}">Back to Home</a>
</body>
</html>