<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Friends list</title>
</head>
<body>
    <h1>Friends List</h1>

    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>
                    {{ friend.friends.name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no friends.</p>
    {% endif %}
    <a href="{% url 'social_distribution:index' %}">Back to Home</a>
</body>
</html>