{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/social_distribution/index.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <img id="profile_picture" src="{{picture_url}}" style="max-width: 64px;">
        <h1>Welcome {{author}}</h1>
        <a href="{% url 'social_distribution:profile' public_url %}">Public Page</a>
        <a href="{% url 'social_distribution:newentry' %}">New Entry</a>
        <a href="{% url 'social_distribution:changeprofile' %}">Edit Profile</a>
        <a href="{% url 'social_distribution:follow_requests' %}">Follow Requests</a>
        <a href="{% url 'social_distribution:author_list'%}">Authors</a>
        <a href="{% url 'social_distribution:followers_list' %}">Followers</a>
        <a href="{% url 'social_distribution:following_list' %}">Following</a>
        <a href="{% url 'social_distribution:friends_list' %}">Friends</a>
        <form method="POST" action="{% url 'social_distribution:signout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </nav>

    {% if latest_entry_list %}
        <h2>Your entries:</h2>
        <ol class="entries">
            {% for entry in latest_entry_list %}
                <a href="{% url 'social_distribution:detail' entry.id %}" class='entry-card-link-wrapper'>
                    <section class="entry-card" style="border-left:5px solid rgb(61, 159, 184);">
                        <p class="entry-card-author">You</p>
                        <p>{{entry.pub_date}}</p>
                        <div class="entry-card-entrytext">{% if entry.content_type == 'text/markdown' %}{{ entry.entry_text|truncatechars:50 }}{% else %}{{ entry.entry_text }}{% endif %}</div>
                    </section>
                </a>
            {% endfor %}
        </ol>
    {% else %}
        <h2>No entries are available.</h2>
    {% endif %}

    <br>

    <section>
    {% if following_entry_stream %}
        <h2>From who you're following and your friends:</h2>
        <ol class="entries">
            {% for entry in following_entry_stream %}
                <a href="{% url 'social_distribution:detail' entry.id %}" class='entry-card-link-wrapper'>
                    <section class="entry-card" style="border-left:5px solid rgb(61, 184, 88);">
                        <p class="entry-card-author">[{{entry.visibility}}] {{entry.belonging_url}}</p>
                        <p>{{entry.pub_date}}</p>
                        <div class="entry-card-entrytext">{% if entry.content_type == 'text/markdown' %}{{ entry.entry_text|truncatechars:50 }}{% else %}{{ entry.entry_text }}{% endif %}</div>
                    </section>
                </a>
            {% endfor %}
        </ol>
    {% else %}
        <h2>Your stream is empty (follow people and make friends)!</h2>
    {% endif %}
    </section>

    <br>

    <section>
    {% if all_public_entries %}
        <h2>All public entries:</h2>
        <ol class="entries">
            {% for entry in all_public_entries %}
                <a href="{% url 'social_distribution:detail' entry.id %}" class='entry-card-link-wrapper'>
                    <section class="entry-card" style="border-left:5px solid rgb(0, 0, 0);">
                        <p class="entry-card-author">{{entry.belonging_url}}</p>
                        <p>{{entry.pub_date}}</p>
                        <div class="entry-card-entrytext">{% if entry.content_type == 'text/markdown' %}{{ entry.entry_text|truncatechars:50 }}{% else %}{{ entry.entry_text }}{% endif %}</div>
                    </section>
                </a>
            {% endfor %}
        </ol>
    {% else %}
        <h2>No public entries, make the first!</h2>
    {% endif %}
    </section>

</body>
</html>