{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{author}}'s Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/social_distribution/publicprofile.css' %}">
</head>
<body>
    <nav>
        <img id="profile_picture" src="{{picture_url}}" style="max-width: 64px;">
        <h1>{{author}}'s Page</h1>
    </nav>

    {% if not is_own_profile %}
        {% if is_following %}
            <form method="post" action="{% url 'social_distribution:unfollow' username=author_username %}">
                {% csrf_token %}
                <button type="submit">Unfollow</button>
            </form>
        {% else %}
           <form method="post" action="{% url 'social_distribution:follow_author' username=author_username %}">
                {% csrf_token %}
                <button type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}

    {% if latest_entry_list %}
        <ul>
        {% for entry in latest_entry_list %}
            <li><a href="{% url 'social_distribution:detail' entry.id %}">
                {% if entry.content_type == 'text/markdown' %}
                    {{ entry.entry_text|truncatechars:50 }}
                {% else %}
                    {{ entry.entry_text }}
                {% endif %}
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No entries are available.</p>
    {% endif %}
</body>
</html>